[user]
	name = Kriegslustig
	email = kriegslustig@kriegslustig.me
	signingkey = A74C4E96
[push]
	default = simple
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/kriegslustig/.gitignore_global
[global]
	excludesfile = ~/.gitignore

